<div class="column gallery-item">
  <iframe src="<%= embeded_video_url %>" class="video-iframe class-<%= video_provider %>" title="<%= translated_title %>" style="border:0;"></iframe>
  <div class="speaker-data">
    <div class="data-name gallery-caption"><%= translated_title %></div>
  </div>
</div>